@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ********************************************************************************************* */

/* Registration page styles */

.register-grid{
  grid-template-columns: 500px 1fr;
}

.input-border{
  border: 2px solid rgb(155, 16, 247);
}

.input-border:focus{
  /* border: 3px solid rgb(155, 16, 247); */
  box-shadow: 0px 1px 1px 2px rgb(229, 200, 255);
}

/* input::placeholder,input::-ms-input-placeholder 
{
 font-weight: 500;
 color: black;
 margin-left: 20px;
  
} */


.input-container {
  position: relative;
  margin-bottom: 20px;
}

/* Style the icon */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px; /* Adjust the left property to set the icon's position */
}

/* Style the input field */
.input-field {
  padding-left: 50px; /* Adjust the padding to make room for the icon */
  width: 500px; /* Set the width of the input field as needed */
}

.input-field::placeholder {
  
  color: #000;
  font-style: italic;
}

.glass{
  backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.785);
}

/* ************************************************************************************************** */
/* Admin page styles */
.bottom-border{
  
  border-bottom: 2px solid rgb(174, 140, 255);
}

.copyright{
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 20rem;
  z-index: -1;
  font-family: 'Tektur', "sans-serif";
  color:#e3545c;
  opacity: 0.2;
}



/* ************************************************************************************************** */
/* Nav bar  styles */
  .bg-color-nav{
    background-color: rgb(227, 84, 92);
  }

  .nav-bar-tabs{
    
    border: 1px solid white;
  }

  .admin-tabs .input-container{
    margin-bottom: 0;
  }

  .admin-tabs .input-container input::placeholder{
    color: white;
  }



/* ************************************************************************************************** */
/* Search bar styles */

.search-bar .icon{
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  left: 30px;
}

.search-bar{
  border: 1px solid rgb(122, 65, 255);
  box-shadow: 0px 2px 2px 1px rgb(122, 65, 255);
}

.search-bar input::placeholder {
  font-size: 18px;
  color: #555;
  font-style: italic;
  
}

.search-bar input{
  border: 2px solid rgb(122, 65, 255);
}

.search-bar button{
  border: 1px solid rgb(161, 121, 255);;
}

/* ************************************************************************************************** */
/* Admin body styles */

.length-zero.copyright{
  font-size: 8rem;
  opacity: 1;
  transform: translateX(-50%);
  top: 40%;
  border: 3px solid #e3545c;
  padding: 5px 10px;
  
}


.bg-base-red{
  background-color: rgb(227, 84, 92);
}

.modal-gradient{
  background: linear-gradient(#e6656c,#e3545c);
}



.admin-body-cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 40px 0;
  gap: 5rem;
  /* border: 1px solid black; */
}

.admin-body-card{
  display: grid;
  grid-template-columns: 3fr 2fr;
  border: 3px solid rgb(227, 84, 92);
  background-color: #fcf4f0
}

.censor{
  padding: 2px 4px;
  border: 1px solid black;
  font-size: 14px;
}

.tag{
  
  padding: 4px 8px;
  background-color: #f9ddde;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  
  
}

.action-btns{
  grid-column: span 2;
}

/* ************************************************************************************************** */
/* Modal box styles */
.transparent{
  background-color: rgba(0, 0, 0, 0.525);
}

.modal-gradient{
  background: linear-gradient(#e6656c,#ee989d);
}

.form{
  min-width: 700px;
  
  min-height: 500px;
  background-color: #aaa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: .2rem;
  border-radius: 10px;
  padding-bottom: 5rem;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.modal-box .input-border{
  border: 2px solid #e6656c;
}

.modal-box .input-border:focus{
  border: 5px solid #e6656c;
  box-shadow: none;
}



.modal-input>input::-webkit-input-placeholder{
  color: black;
}

.modal-box .icon{
  color: black;
}

.multi-input .input-field{
  width: 200px;
}

/* *************************************************************************************************** */
/* Styles Table  */

.styled-table{
  min-height: 100vh;
    background: url(assets/images/ticket-booking.jpg) center / cover;
    /* background-color: #e6656c; */
    display: flex;
    justify-content: center;
    align-items: center;
}
main.table {
  width: 82vw;
  height: 90vh;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  /* height: 10%; */
  /* background-color: #fff4; */
  background-color: #1400fe44;
  padding: .8rem 1rem;
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}


.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}


table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1.5rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #bfaffffe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #c8c6c68e;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay) 0s;
  background-color: rgb(250, 249, 249);
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: rgba(209, 189, 243, 0.4) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #000;
}

.status.cancelled {
  background-color: #d893a3;
  color: #000;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}


@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow{
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active,tbody td.active {
  color: #6c00bd;
}

/* .export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff6 url(images/export.png) center / 80% no-repeat;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;
  
  width: 12rem;
  border-radius: .5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(.8);
  transform-origin: top right;
  
  box-shadow: 0 .2rem .5rem #0004;
  
  transition: .2s;
}

.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.export__file .export__file-options label{
  display: block;
  width: 100%;
  padding: .6rem 0;
  background-color: #f2f2f2;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
  padding: 1rem 0;
  background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

.export__file .export__file-options img{
  width: 2rem;
  height: auto;
} */

