@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ********************************************************************************************* */

/* Registration page styles */

.register-grid{
  grid-template-columns: 500px 1fr;
}

.input-border{
  border: 2px solid rgb(155, 16, 247);
}

.input-border:focus{
  /* border: 3px solid rgb(155, 16, 247); */
  box-shadow: 0px 1px 1px 2px rgb(229, 200, 255);
}

/* input::placeholder,input::-ms-input-placeholder 
{
 font-weight: 500;
 color: black;
 margin-left: 20px;
  
} */


.input-container {
  position: relative;
  margin-bottom: 20px;
}

/* Style the icon */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px; /* Adjust the left property to set the icon's position */
}

/* Style the input field */
.input-field {
  padding-left: 50px; /* Adjust the padding to make room for the icon */
  width: 500px; /* Set the width of the input field as needed */
}

.input-field::placeholder {
  
  color: #000;
  font-style: italic;
}

.glass{
  backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.785);
}

/* ************************************************************************************************** */
/* Admin page styles */
.bottom-border{
  
  border-bottom: 2px solid rgb(174, 140, 255);
}

/* ************************************************************************************************** */
/* Nav bar  styles */
  .bg-color-nav{
    background-color: rgb(227, 84, 92);
  }

  .nav-bar-tabs{
    
    border: 1px solid white;
  }

  .admin-tabs .input-container{
    margin-bottom: 0;
  }

  .admin-tabs .input-container input::placeholder{
    color: white;
  }



/* ************************************************************************************************** */
/* Search bar styles */

.search-bar .icon{
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  left: 30px;
}

.search-bar{
  border: 1px solid rgb(122, 65, 255);
  box-shadow: 0px 2px 2px 1px rgb(122, 65, 255);
}

.search-bar input::placeholder {
  font-size: 18px;
  color: #555;
  font-style: italic;
  
}

.search-bar input{
  border: 2px solid rgb(122, 65, 255);
}

.search-bar button{
  border: 1px solid rgb(161, 121, 255);;
}

/* ************************************************************************************************** */
/* Admin body styles */

.admin-body-cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 40px 0;
  gap: 5rem;
  /* border: 1px solid black; */
}

.admin-body-card{
  display: grid;
  grid-template-columns: 3fr 2fr;
  border: 3px solid rgb(227, 84, 92);;
  background-color: #fcf4f0
}

.censor{
  padding: 2px 4px;
  border: 1px solid black;
  font-size: 14px;
}

.tag{
  
  padding: 4px 8px;
  background-color: #f9ddde;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  
  
}

.action-btns{
  grid-column: span 2;
}

/* ************************************************************************************************** */
/* Modal box styles */
.transparent{
  background-color: rgba(0, 0, 0, 0.525);
}

.form{
  min-width: 700px;
  
  min-height: 500px;
  background-color: #aaa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: .2rem;
  border-radius: 10px;
  padding-bottom: 5rem;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}



.modal-input>input::-webkit-input-placeholder{
  color: black;
}

.modal-box .icon{
  color: black;
}

.multi-input .input-field{
  width: 200px;
}

