/* In media queries rem and em is not same as root size */
/* 1 rem = 1em = 16px */


/* *********************************************** */
/* MEDIA QUERIES FOR 1750 PX */
/* *********************************************** */

@media(max-width:109.8em){
    /* register page */
    /* *********************************************** */

    html{
        font-size: 80%;
    }

    

    .register-form{
        grid-template-columns: 2fr 1fr;
    }

    .register-form form{
       
            margin-top: 2rem;
            align-items: flex-start;
    }

    .register-form .input-field, .register-form .register-submit{
        width: 400px;
    }

    .admin-checkbox h1{
        font-size: 1.1rem;
        text-align: center;
    }

    .admin-checkbox button{
        padding: 3px;
        font-size: 1rem;
    }
    /* *********************************************** */



    

}


/* *********************************************** */
/* MEDIA QUERIES FOR 1270 PX */
/* *********************************************** */
@media (max-width:79.5em){
     /* register page */
    /* *********************************************** */
    .register{
        padding: 2rem 4rem;
    }

    .register-grid{
        grid-template-columns: 1fr 2fr;
    }


      /* admin theatre page */
    /* *********************************************** */
    .status{
        padding: 0.2rem;
        font-size: .8rem;
    }

    main.table {
        width: 90vw;
    }

    .table__body table{
        overflow: scroll;
    }

     /* user movie section*/
    /* *********************************************** */
   .movie-cards{
    margin-top: 4rem ;
    column-gap: 4rem;
    padding: 4rem
   }

   .movies .input-container{
    margin-bottom: 0;
   }

   
    
}

/* *********************************************** */
/* MEDIA QUERIES FOR 1000 PX 
    TABLET LANDSCAPE

    
*/

@media (max-width:62.5em){
     /* register page */
    /* *********************************************** */
    html{
        font-size: 70%;
    }

    .register-img img{
        height: 200px;
    }

    .register-form form{
       
        margin-top: 4rem;
    }

    .register-form .input-field, .register-form .register-submit{
        width: 300px;
    }
    /* *********************************************** */

    
     /* login page */
    /* *********************************************** */
    .login-grid{
        grid-template-columns: 2fr 3fr;
    }

    .brand-img{
        padding: 5rem 4rem;
    }
    .login-form{
        padding: 5rem 2rem;
    }
    .login-form .input-field ,.login-form .login-submit{
        width: 400px;
    }

      /* *********************************************** */
     /* Admin movie page */
    .movie-desc-admin{
        max-height: 200px;
        overflow: scroll;
    }

    /* *********************************************** */
     /* Admin theatre page */
    main.table {
        width: 95vw;
        
    }

      /* *********************************************** */
     /* user page title  */
     .user-page-title {
        font-size: 140px;
     }

     /* user movie section*/
    /* *********************************************** */

    .movie-cards{
        column-gap: 2rem;
        padding: 0rem
       }
     .movie-card{
        width: 95%;
        height: 90%;
       }


    

    
}


/* *********************************************** */
/* MEDIA QUERIES FOR 700 PX */
/* *********************************************** */

@media (max-width:43.75em){
     /* register page */
    /* *********************************************** */
    html{
        font-size: 65%;
    }

    

    .register-form h1{
        width: 100%;
        line-height:1.5;
        margin-bottom: 1rem;
    }

    .register-form .input-field, .register-form .register-submit{
        width: 175px;
    }

    .admin-checkbox button{
        padding: 1px;
        font-size: 1rem;
        width: 50%;
    }

    .register-img{
        padding: 2rem;
        font-size: 8px;
    }

    .brand-title h1 {
        font-size: 3rem;
    }
    .brand-title h3{
        font-size: 1rem;
    }
    /* *********************************************** */

     /* login page */
    /* *********************************************** */
    .brand-img .name{
        font-size: 3rem;
    }

    .brand-img .sub{
        font-size: 3rem;
    }

    .brand-img img{
        max-width: 110%;
    }

    .login-form .input-field ,.login-form .login-submit{
        width: 250px;
    }

    .login-form h1{
        font-size: 2.5rem;
    }

     /* *********************************************** */
     /* Admin movie page */
    .admin-body-card{
        display: flex;
        flex-direction: column;
    } 

    .movie-title-admin{
        font-size: 2rem;
    }

    .admin-movie-details{
        gap: 3rem;
    }

    .admin-nav{
        position: relative;
    }

    .admin-tabs{
        background-color: #e3545b;
            position: absolute;
            top: 0;
            left:0;
            width: 35%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* transition: all 0.5s; */

            /* Make the items hidden */
            opacity: 0%;
            pointer-events: none;
            visibility: hidden;
            transform: translateX(-200%);
            font-size: 1rem;
            z-index: 5;
    }

    .admin-menu{
        display: block;
    }

     .admin-nav.trigger .admin-tabs{
        opacity: 100%;
        pointer-events: initial;
        visibility: visible;

        /* When the use click the menu button ie the trigger class is added then 
            the nav items slides from right of the page
        */
        transition: all 0.5s;
       transform: translateX(0%);
    }

    .admin-nav.trigger .admin-close{
        display: block;
        z-index: 10;
        position: relative;
        left: 25%;
    }

    .admin-nav.trigger .admin-menu{
        display: none;
    }


     /* *********************************************** */
     /* Admin movie modal */

     .admin-movie-modal{
        margin-top: 1rem ;
     }

     .admin-movie-modal .input-field,.admin-modal-action-btns{
        width: 300px;
      
     }

     .multi-box{
        flex-direction: column;
     }

     .modal-box .form {
        min-width: 400px;
        min-height: 600px;
     }


       /* *********************************************** */
     /* user page title  */
     .user-page-title {
        margin-top: 10rem;
        font-size: 100px;
     }

    .user-page-subtitle{
        font-size: 3rem;
    }

    /* user movie section*/
    /* *********************************************** */
   .movie-cards{
   
    grid-template-columns: 1fr;
    padding: 4rem;
   }

   .movies .input-container{
    
    width: 150px;
   }

   .movies .input-field{
    padding-left: 10px;
   }


}


/* *********************************************** */
/* MEDIA QUERIES FOR 500 PX */
/* *********************************************** */
@media (max-width:31.25em){
     /* register page */
    /* *********************************************** */
    .register-img{
        display: none;
    }
    .register-grid{
        grid-template-columns: 1fr ;
    }

    .register-form form{
       
        margin-top: 6rem;
    }


    .register-form{
        border-radius: 10px;
    }

    .register-form .input-field, .register-form .register-submit{
        width: 250px;
    }
    /* *********************************************** */

    /* login page */
    /* *********************************************** */
    .login-grid{
        grid-template-columns: 1fr;
    }

    .brand-img{
        display: none;
    }

    .login-form h1{
        font-size: 3.5rem;
    }

    .login-form h3{
        font-size: 1.5rem;
    }

    .login-form .input-field ,.login-form .login-submit{
        width: 350px;
    }


      /* *********************************************** */
     /* Admin movie page */

     .action-btns p{
        font-size: 0.8rem;
     }

     .admin-tabs input{
        width: 100px;
     }

     .admin-nav.trigger .admin-close{
        
        left: 20%;
    }

     /* *********************************************** */
     /* Admin movie modal */

    .admin-movie-modal .input-field,.admin-modal-action-btns{
        width: 250px;
      
     }

     .modal-box .form {
        min-width: 350px;
     }


      /* *********************************************** */
     /* user page title  */
     .user-page-title {
        margin-top: 10rem;
        font-size: 80px;
     }

    .user-page-subtitle{
        font-size: 2rem;
    }

    /* user movie section*/
    /* *********************************************** */
   .movie-cards{
   
   
    padding: 0rem;
   }

   .movies .input-container{
    
    width: 100%;
   }

   .movies .input-field{
    margin-left: auto;
    font-size: 8px;
   }

   .movies div:first-child{
    flex-direction: column;
    gap: 2rem;
   }

    
}


/* *********************************************** */
/* MEDIA QUERIES FOR 400 PX */
/* *********************************************** */

@media (max-width:25em){
     /* register page */
    /* *********************************************** */
    .register-form .input-field, .register-form .register-submit{
        width: 200px;
    }
    /* *********************************************** */

     /* login page */
    /* *********************************************** */
    .login-grid{
        grid-template-columns: 1fr;
    }

    .brand-img{
        display: none;
    }

    .login-form h1{
        font-size: 3rem;
    }

    .login-form h3{
        font-size: 1.5rem;
    }

    .login-form .input-field ,.login-form .login-submit{
        width: 300px;
    }

     /* *********************************************** */
     /* Admin movie modal */

     .admin-movie-modal .input-field,.admin-modal-action-btns{
        width: 200px;
      
     }

     .modal-box .form {
        min-width: 300px;
     }

      /* *********************************************** */
     /* user page title  */
     .user-page-title {
        margin-top: 15rem;
        font-size: 70px;
     }

    .user-page-subtitle{
        font-size: 1.5rem;
    }


}
/* *********************************************** */
